/* * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

.App {
  text-align: center;
  display: flex;
  min-height: 100vw;
  align-items: center;
  justify-content: center;
}

html {
  background: #111111;
  color: white;
}

.header-main {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: flex-end;
  background: #111111;
  padding-right: 40px;
  font-size: 18px;
  position: sticky;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  column-gap: 2rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.profile-btn {
  color: white;
  text-decoration: none;
  padding-right: 10px;
}

.login-btn {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.logo{
  height: 100px;
}

.home-text1 {
  font-size: 70px;
  text-align:center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 50px;
}

.home-text2 {
  font-size: 16px;
  text-align: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.auth-container, .login-form, .register-form {
  display: flex;
  align-items: center;
  font-size: 20px;
  flex-direction: column;
}

.register-container {
  padding-top: 80px;
}

auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 10px;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 0.4rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.h1-text {
  font-size: 25px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  position: relative;
}

.api-form {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
